.main{
    background-color: black;
    font-size: medium;
    color: aliceblue;
    text-align: center;
    height: 300px;
    width: 500px;
    margin-left:380px;
    padding-top:50px;
    margin-top: 50px;
}

.h1{
    color: aqua;
}

.h2{
    color: blueviolet;
    font-size: 40px;
}